<section class="navbar">
  <div class="navbar__logo">Flowbite</div>
  <nav class="navbar__navigation">
    <a href="#" class="navbar__navigation navbar__navigation--text">Signals</a>
    <a href="#" class="navbar__navigation navbar__navigation--text"
      >Reactive state</a
    >
    <a
      routerLink="/tailwind-css"
      class="navbar__navigation navbar__navigation--text"
      >Tailwind css</a
    >
    <a
      routerLink="/tailwind-css"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >First Component</a
    >
  </nav>
</section>
<router-outlet></router-outlet>
