.main {
  padding: 16px;
}

button {
  background-color: #0e578c;
  color: white;
  padding: 16px 24px;
  border-radius: 5px;
  margin: 8px 0;
}

button:hover {
  background-color: #074572;
}

select {
  margin: 18px 0 18px 0;
  padding: 18px 0 18px 0;
  border: 1px solid #074572;
}
