<section>
  <mat-card class="card">
    @if (candidate$ | async; as candidate ) {
    <ng-container>
      <img
        class="card__img"
        [src]="candidate.imageUrl"
        [alt]="candidate.firstName + ' ' + candidate.lastName"
      />
      <div class="card__infos">
        <h1>{{ candidate.firstName }} {{ candidate.lastName }}</h1>
        <h2>
          {{ candidate.job }}, {{ candidate.department }} chez
          {{ candidate.company }}
        </h2>
        <h3>Contact : {{ candidate.email }}</h3>
      </div>
    </ng-container>
    }

    <mat-card-actions>
      @if (loading$ | async) {
      <mat-spinner></mat-spinner>
      }@else {
      <div class="action-buttons">
        <button
          class="card__btn"
          mat-flat-button
          color="accent"
          (click)="onHire()"
        >
          EMBAUCHER
        </button>
        <button
          class="card__btn"
          mat-flat-button
          color="warn"
          (click)="onRefuse()"
        >
          REFUSER
        </button>
      </div>
      <button
        class="card__btn"
        mat-flat-button
        color="primary"
        (click)="onGoBack()"
      >
        RETOUR
      </button>
      }
    </mat-card-actions>
  </mat-card>
</section>
