.card {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &__img {
    border-radius: 50%;
    width: 100px;
  }

  &__info {
    text-align: center;
  }

  &__btn {
    margin-left: 10px;
  }
}
